    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    {% if keyword %}<meta name="keywords" content="{{ keyword }}" />{% endif %}
    {% if ogtitle %}<meta property="og:title" content="{{ ogtitle }}" />{% endif %}
    {% if ogdescription %}<meta property="og:description" content="{{ ogdescription }}" />{% endif %}
    {% if ogimage %}<meta property="og:image" content="{{ ogimage }}" />{% endif %}   
    <!-- OpenGraph 
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ settings.site_url }}{{ page.url | url }}">
    <meta property="og:locale" content="id_ID">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:image:alt" content="{{ imageAlt }}">
    -->
    <!-- Twitter 
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="@amanahgarment">
    <meta name="twitter:creator" content="@amanahgarment">
    <meta name="twitter:url" content="https://amanahgarment.com">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ metadesc }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta name="twitter:image:alt" content="{{ imageAlt }}">
    -->