    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ settings.site_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {%- for nav in navigation.items -%} 
                <a class="nav-link text-capitalize" href="{{ nav.url }}" target="{{ nav.target }}">{{ nav.text }}</a>
                {%- endfor -%}
            </div>
            </div>
        </div>
    </nav>